body{
    margin: 0;
}
em{
  color: white;
 font-style: normal;
}
.bg-img {
    /* The image used */
    
    background-image: url("imgs/idk.jpg");
    min-height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .container {
    position: absolute;
    margin: 20px;
    width: auto;
    
  }
  .topnav {
    overflow: hidden;
  }
  /* Navbar links */
  .topnav a {
    font-family: cursive;

    color: #fda004;
    text-align: center;
    padding-left: 15px;
    float: left;
    margin-top: 15px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 20px;
  }
  .barra a{
    margin-left: 60px;
  }

  
  .topnav a:hover {
    color: orangered;
  }
.topnav img{
  float: left;
  margin-right: 100px;
  width: 150px;
} 







.row {
    background-image: url("imgs/background.jpg");
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
   
    flex: 25%;
    max-width: 55%;
    padding: 0 5px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 20px 4px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
 

.hamburguer{
cursor: pointer;
float: left;
margin-right: 30px;
background: #fda004;
}
.topnav em{
color: #fda004;
}

  
footer{
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
      
    }
    footer h1{
      text-align: center;
      font-family: monospace;
      font-size: 10px;
      color: white;
    } 