

.bg-img {
    /* The image used */
    
    background-image: url("imgs/idk.jpg");
    min-height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .container {
    position: absolute;
    margin: 20px;
    width: auto;
    
  }
  .topnav {

    overflow: hidden;
  
  }
  /* Navbar links */
  .topnav a {
    font-family: cursive;
    color: #fda004;
    text-align: center;
    padding-left: 15px;
    float: left;
    margin-top: 15px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 20px;
  }
  .barra a{
    margin-left: 60px;
  }
 
  
  .topnav a:hover {
    color: orangered;
  }
.topnav img{
  float: left;
  margin-right: 100px;
  width: 150px;
} 

.login{
  margin-left: 200px;
float: right;
}
h2{
  margin-left: 100px;
  float: left;
  margin-top: 200px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 40px;
  color: aliceblue;
}
h3{
  display: block;
  
  font-size: 20px;
  font-family: monospace;
  margin-left: 100px;
  color: white;
  margin-top: 160px;
}
em{
  font-style: normal;
 font-family: cursive;
  color: #fda004;
}
.topnav a em{
  color: white;
}


.botao{
  color: white;
  font-family: cursive;
  border-style: solid;
  margin-left: 100px;
  background-color: #fda004;
  padding: 10px 30px;
  border: none;
}
.botao:hover{
transition: ease 0.3s;
  background-color: transparent;
  cursor: pointer;
  
}

.botao1{
  color: white;
  font-family: cursive;
  border-style: solid;
  margin-left: 10px;
  background-color: transparent;
border: 1px solid #fda004;
  padding: 10px 30px;
  border: none;
}
.botao1:hover{
background-color: #fda004;

 transition: ease-in 0.4s;
  cursor: pointer;
  
}
body{
  margin: 0;
}

.about a{
  text-decoration: none;
  color: #fda004;
}
.about a:hover{
  color: rgb(216, 199, 46);
}



/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Six columns side by side */
.column {
  
display: inline;
    margin-top: 100px;
padding-left: 25px;

  float: left;
  width: 15%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.8;
}

.active,
.demo:hover {
  opacity: 1;
}


.gallery:hover {
  border-bottom: 1px solid #777;
}

.about{
  width: 100%;
  padding: 78px 0px;
  background-image:url("imgs/background.jpg");
}

.about img{
  height: auto;
  width: 420px;
  margin-right: 30px;
}
.about text{
  
  width:550px;
 
}
.about h1{
  font-size: 40px;
    color: #fda004;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
.about p{
color: aliceblue;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 25px;
}

.main{
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
button{
  font-size: 15px;
  color: white;
  font-family: monospace;
  border-style: solid;
  margin-left: 10px;
  background-color: #fda004;
  padding: 10px 30px;
  border: none;

}
button:hover{
  background-color: transparent;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}


.destaques{
 
  background-image: url("imgs/lukas-bato-Vbbn4xNBfnM-unsplash.jpg");
  background-size: cover;
  padding-top: 10px;
  height: 1000px;
  font-size: 30px;

}
.destaques a{
  color: #04d8fd;
  text-decoration: none;
  font-style: normal;
}
.destaques h1{


  color:  #04d8fd;
  font-family:cursive;
  
  text-align: center;
}
.destaques p{
  font-family: monospace;
  text-align: center;
}
.destaques button{
  margin-left: 900px;
}





* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {

  max-width: 1000px;
  position: relative;
  margin: auto;
}
.slideshow-container img{
  margin-top: 150px;
  margin-left: 250px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  margin-left: 200px;
  margin-right: 200px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color:white;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.testemunho{
  width: 720px;
  margin:  auto;
 
}
.test{
  
  height: 800px;
   background-image: url("imgs/background.jpg");
 }
 .test h3{
   font-size: 20px;

 margin-top:0;
  padding-top: 30px;
   text-align: center;

 }

.testemunho .item{
  width: 220px;
  margin: 110px 10px;
  float: left;
  background-color: rgb(215, 248, 250);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0,0.125);
  border-radius: 25px;
}
.testemunho .item .img img{
  width: 100px;
  display: block;
  margin: 10px auto;


}


.testemunho .item .name{
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.testemunho .item .content{
 
padding: 20px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
text-align: center;
}
.testemunho .item .content h1{

  text-align: left;
  color: rgb(111, 160, 233);
}
.testemunho .item .content p{
  background-color: white;
  margin-top: 0;
  border-radius: 20px;
  color: #000;
  line-height: 20px;
  margin-bottom: 15px;
}

 
  .test p{
    float: right;
    color: brown;
  }
  footer{
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
      
    }
    footer h1{
      text-align: center;
      font-family: monospace;
      font-size: 10px;
      color: white;
    }





    