body{
    margin: 0;
}
.bg-img {
    /* The image used */
    
    background-image: url("imgs/idk.jpg");
    min-height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .container {
    position: absolute;
    margin: 20px;
    width: auto;
    
  }
  .topnav {
    overflow: hidden;
  }
  /* Navbar links */
  .topnav a {
    font-family: cursive;

    color: #fda004;
    text-align: center;
    padding-left: 15px;
    float: left;
    margin-top: 15px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 20px;
  }
  .barra a{
    margin-left: 60px;
  }

  
  .topnav a:hover {
    color: orangered;
  }
.topnav img{
  float: left;
  margin-right: 100px;
  width: 150px;
} 
em{
    font-style: normal;
    font-family: cursive;
    color:aliceblue;
}
.titulo{
    margin-top: 40px;
    color: white;
    text-align: center;
 
}

body .galeria{
    position: absolute;
    background-size: cover;
    background-repeat: repeat-y;
    background-image: url("imgs/background.jpg");
   
}
div.gallery {
  margin: 5px;
  border-bottom: 1px solid #ccc;
  float: left;
  margin-left: 45px;
  width: 270px;
  margin-top: 100px;
  margin-bottom: 100px;
}

div.gallery:hover {
  border-bottom: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  font-size: 20px;
  color: aliceblue;
  padding: 20px;
  text-align: center;
}


.card {
  
 display: inline-block;
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 350px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin-top: 50px;
  margin-left: 50px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 100px;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;

  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}







/*
  <div class="galeria">

      <div class="gallery">
        <a target="_blank" href="">
          <img src="imgs/tabua-baker-justin-figgy.png" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">Tábua "Baker"<br>59.90€</div>
      </div>
      
  
      
   
    </div>
    